body{
  position: relative;
}

.spinner{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-body{
  height: 30px;
  width: 30px;
  border: 5px solid black;
  border-radius: 30px;
  border-left: 5px solid transparent;
  animation: spin 0.7s infinite linear;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}